.text-shadow {
  &--sm {
    text-shadow: 
    0
    0 
    var(--spacer-2xs)
    color-mix(
      in srgb,
      transparent var(--opacity-percentage-6),
      currentColor
    );
  }

  &--md {
    text-shadow: 
      0
      0 
      var(--spacer-xs)
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-3),
        currentColor
      );
  }

  &--lg {
    text-shadow:
      0
      0 
      var(--spacer-sm)
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-5),
        currentColor
      );
  }
}