@use '../../abstracts/' as *;

.main-menu {
  width: 100%;
  padding-block: calc(var(--spacer-base) * .75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-nav);
  opacity: 0;
  background-color: 
    color-mix(
      in srgb,
      transparent var(--opacity-percentage-5),
      var(--color-primary-base)
    );
  backdrop-filter: blur(var(--spacer-sm));
  transform: translateY(-100%);
  transition: transform .3s cubic-bezier(0.25, 1, 0.5, 1),
    opacity .3s cubic-bezier(0.65, 0, 0.35, 1);

  &:focus-within,
  body:has([data-menu-visible="true"]) & {
    opacity: 1;
    transform: translateY(0);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacer-up-md-lg);
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item {
      &--home {
        height: var(--font-size-lg);
        aspect-ratio: var(--triangle-aspect-ratio-sm);
        margin-inline-end: auto;
        color: var(--color-primary-reverse);
      }
    }
  }
}