@use '../../abstracts/' as *;

.project-item {
  width: 100vw;
  height: 100vh;
  padding-block: var(--block-spacing);
  padding-inline-start: var(--spacer-2xl);
  padding-inline-end: var(--spacer-md);

  &:not(:last-of-type) {
    margin-inline-end: min(var(--spacer-4xl), 25vw);
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
    padding-inline-start: var(--spacer-2xl);
    padding-block-end: var(--spacer-4xl);
    position: relative;

    &__decorator {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      border-inline-start: 2px dashed color-mix(
        in srgb,
        transparent var(--opacity-percentage-8),
        var(--color-primary-reverse));
    }

    &__title {
      padding-block-end: var(--spacer-3xl);
      padding-inline-start: var(--spacer-sm);
      padding-inline-end: var(--spacer-md);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;

      &::before {
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-inline-start: 2px dashed color-mix(
          in srgb,
          transparent var(--opacity-percentage-8),
          var(--color-primary-reverse));
      }

      &__decorator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(3rem, var(--spacer-xl));
        aspect-ratio: 1;
        border: 1px solid var(--color-accent-lighter);
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          to bottom,
          color-mix(
            in srgb,
            var(--color-primary-base) var(--opacity-percentage-7),
            var(--color-accent-darker)
          ),
          33%,
          var(--color-primary-base));
        box-shadow:
          0
          0
          var(--spacer-xs)
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-5),
            var(--color-accent-lighter)
          );
        transform: translate(-50%, 50%) rotate(45deg);

        &::after {
          content: "";
          width: 15%;
          aspect-ratio: 1;
          background-color: var(--color-primary-reverse);
          box-shadow:
            0
            0
            var(--spacer-2xs)
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-5),
              var(--color-primary-reverse)
            );
        }
      }
    }

    &__image {
      position: relative;
      overflow: hidden;
    }
  }

  @include breakpoint-m-landscape-up {
    padding-inline-start: max(25vw, var(--spacer-2xl));
    padding-inline-end: min(10vw, var(--spacer-4xl));
  }
}