@use '../../abstracts/' as *;

.crt-filter {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: var(--z-index-crt);
  
  @include reduced-motion {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &::before {
    background: radial-gradient(
      circle at center 45%,
      transparent 85%,
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-6),
        var(--color-primary-darker)
      ) 95%
    );
  }

  &::after {
    background: linear-gradient(
      to bottom,
      transparent 50%,
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-9),
        var(--color-primary-darker)
      ) 50%
    );
    background-size: 100% 4px;
  }
}