.title {
  visibility: hidden;
  margin: 0;
  position: relative;
  text-shadow: 
    0
    0 
    var(--spacer-xs)
    color-mix(
      in srgb,
      transparent var(--opacity-percentage-6),
      var(--color-primary-reverse)
    );

  &__content {
    overflow-y: hidden;
  }

  &__background {
    position: absolute;
    inset: 0 0 var(--spacer-xs) 0;
    z-index: var(--z-index-base-decrease);
    background: no-repeat linear-gradient(
      60deg,
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-3),
        var(--color-secondary-darker)
      ),
      var(--spacer-3xl),
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-9),
        var(--color-secondary-darker)
      ) 40%,
      transparent 50%
    );
    background-size: 200% 100%;

    .title--added-bg & {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: color-mix(
          in srgb,
          transparent var(--opacity-percentage-6),
          var(--color-secondary-darker)
        );
        mix-blend-mode: multiply;
      }
    }
  }

  &__border-light {
    .title--main & {
      position: absolute;
      inset: var(--spacer-2xs) var(--spacer-2xs) calc(var(--spacer-2xs) + var(--spacer-xs)) var(--spacer-2xs);
      border: 1px solid color-mix(
        in srgb,
        transparent var(--opacity-percentage-8),
        var(--color-secondary-lighter)
      );
    }

    .title--second & {
      width: 100%;
      height: 1px;
      background-color: color-mix(
        in srgb,
        transparent var(--opacity-percentage-6),
        var(--color-secondary-base)
      );
      bottom: 0;
      box-shadow: 
        0
        -1px
        var(--spacer-xs)
        1px
        color-mix(
          in srgb,
          transparent var(--opacity-percentage-6),
          var(--color-secondary-base)
        );
      transform-origin: left center;
    }
  }

  &__border-bold {
    height: var(--spacer-xs);
    position: absolute;
    left: 0;
    transform-origin: left center;

    .title--main & {
      width: min(33%, var(--spacer-3xl));
      bottom: 0;
      background-color: var(--color-secondary-lighter);
    }

    .title--second & {
      width: min(20%, var(--spacer-xl));
      bottom: 1px;
      background-color: var(--color-secondary-base);
    }
  }
    
  &--main {
    width: fit-content;
    padding: var(--spacer-sm) var(--spacer-up-lg-xl) calc(var(--spacer-sm) + var(--spacer-xs)) var(--spacer-up-xl-2xl);
    position: relative;
    overflow: hidden;
  }

  &--second {
    width: fit-content;
    position: relative;
    padding: 0 0 var(--spacer-xs) 0;
  }
}