@use "sass:map";
@use '../../abstracts' as *;

.skip-link {
  width: 100%;
  border-top: var(--spacer-2xs) solid var(--color-secondary-darker);
  position: fixed;
  left: 0;
  top: -100vh;
  z-index: calc(var(--z-index-crt) + var(--z-index-base-increase));

  &__label {
    @include font-mono(map.get($font-mono, sm));

    display: inline-block;
    padding: var(--spacer-2xs) var(--spacer-sm);
    margin-inline-start: var(--spacer-md);
    background-color: var(--color-secondary-darker);
    color: var(--color-primary-reverse);
    line-height: 1;
    text-decoration: none;
  }

  &:focus-within {
    top: 0;
  }
}