@use '../../abstracts/' as *;

.projects-list-item {
  $self: &;

  width: 100vw;
  height: 100vh;
  padding: var(--block-start-spacing) var(--spacer-md) var(--block-end-spacing) var(--spacer-up-xl-2xl);
  position: fixed;
  inset: 0;

  &__link {
    display: block;
    height: 100%;
    width: 100%;
    padding-inline-start: var(--spacer-up-xl-2xl);
    padding-block-end: calc(var(--spacer-3xl) + env(safe-area-inset-bottom));
    position: relative;

    &__decorator {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      border-inline-start: 2px dashed color-mix(
        in srgb,
        transparent var(--opacity-percentage-8),
        var(--color-primary-reverse));
    }

    &__title {
      padding-block-end: calc(var(--spacer-2xl) + env(safe-area-inset-bottom));
      padding-inline-start: var(--spacer-sm);
      padding-inline-end: var(--spacer-md);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: var(--z-index-base-increase);

      &::before {
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-inline-start: 2px dashed color-mix(
          in srgb,
          transparent var(--opacity-percentage-8),
          var(--color-primary-reverse));
        opacity: var(--dashes-opacity);
        clip-path: inset(var(--dashes-y) 0 0 0);
      }

      &__decorator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(3rem, var(--spacer-xl));
        aspect-ratio: 1;
        border: 1px solid var(--color-accent-lighter);
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          to bottom,
          color-mix(
            in srgb,
            var(--color-primary-base) var(--opacity-percentage-7),
            var(--color-accent-darker)
          ),
          33%,
          var(--color-primary-base));
        box-shadow:
          0
          0
          var(--spacer-sm)
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-4),
            var(--color-accent-lighter)
          );

        &::after {
          content: "";
          width: 15%;
          aspect-ratio: 1;
          background-color: var(--color-primary-reverse);
          box-shadow:
            0
            0
            var(--spacer-2xs)
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-5),
              var(--color-primary-reverse)
            );
        }

        @media (prefers-reduced-motion: reduce) {
          transform: translate(-50%, 50%) rotate(45deg);
        }
      }
    }

    &__image {
      position: relative;
      overflow: hidden;
      
      &-wrapper {
        width: 100%;
        height: 100%;
        box-shadow:
          inset
          0
          0
          0
          0
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-6),
            var(--color-secondary-base)
          );
        transition: box-shadow .3s cubic-bezier(0.76, 0, 0.24, 1);

        #{$self}__link:hover &,
        #{$self}__link:focus & {
          box-shadow:
            inset
            0
            0
            var(--spacer-base)
            var(--spacer-2xs)
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-6),
              var(--color-secondary-base)
            );
        }
      }

    }
  }

  @include breakpoint-m-landscape-up {
    padding-inline-start: max(25vw, var(--spacer-2xl));
    padding-inline-end: max(12.5vw, var(--spacer-4xl));
  }
}