@use '../../abstracts/' as *;

.title {
  &-wrapper {
    position: fixed;
    bottom: calc(var(--spacer-xl) + env(safe-area-inset-bottom));
    z-index: var(--z-index-base-increase);
  }

  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-xs);
  width: 100%;
  text-align: center;

  &__large {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: calc(var(--line-height-sm) * 3.1em);

    > * {
      position: relative;
      z-index: var(--z-index-base-increase);

      &:nth-child(2) {
        height: calc(var(--line-height-sm) * 1em);
        aspect-ratio: 1;
        z-index: var(--z-index-base);
        margin: calc(var(--spacer-base) * -.75);
  
        &::before,
        &::after {
          content: '';
          position: absolute;
          opacity: var(--bg-shape-opacity, 0);
          transform: rotate(var(--bg-shape-rotation, 0));
        }
  
        &::before {
          inset: 0;
          z-index: var(--z-index-base-decrease);
          background: no-repeat linear-gradient(
            60deg,
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-7),
              var(--color-secondary-darker)
            ),
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-9),
              var(--color-secondary-darker)
            ) 80%,
          );
        }
  
        &::after {
          inset: var(--spacer-2xs);
          border: 1px solid color-mix(
            in srgb,
            transparent var(--opacity-percentage-9),
            var(--color-secondary-lighter)
          );
        }

        @include breakpoint-m-landscape-up {
          margin: 0;
        }
      }
    }

    @include breakpoint-m-landscape-up {
      flex-direction: row;
      gap: var(--spacer-2xs);
      min-height: calc(var(--line-height-sm) * 1.1em);
    }
  }
}

.illustration {
  --horizon-position: 45%;

  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: var(--z-index-base);

  &-background,
  &-foreground {
    position: absolute;
    inset: 0;
  }

  &-background {
    visibility: hidden; 
  }

  &__skyline {
    height: 0;
    border-top-width: 2px;
    position: absolute;
    z-index: var(--z-index-base-decrease);
    transform: rotate(-30deg);
    transform-origin: left center;

    &::before,
    &::after {
      display: block;
      height: 0;
      border-top-width: 2px;
      position: relative;
    }
    
    &--1 {
      width: max(133vh, 100vw);
      border-top-style: solid;
      border-top-color: var(--color-accent-lighter);
      bottom: 20%;
      opacity: var(--opacity-2);

      @include breakpoint-m-landscape-up {
        left: 22%;
        bottom: 0;
      }
    }

    &--2 {
      width: min(50% - var(--spacer-3xl), 16rem);
      bottom: 72%;
      left: 55%;
      border-top-style: dashed;
      border-top-color: var(--color-primary-reverse);
      opacity: var(--opacity-5);

      @include breakpoint-m-landscape-up {
        bottom: 60%;
      }

      &::after {
        content: '';
        width: 110%;
        border-top-style: solid;
        border-top-color: var(--color-primary-reverse);
        position: relative;
        top: var(--spacer-md);
        opacity: var(--opacity-6);
      }
    }

    &--3 {
      width: min(60%, 15rem);
      bottom: 26%;
      left: 58%;
      border-top-style: solid;
      border-top-color: var(--color-accent-lighter);
      opacity: var(--opacity-2);

      @include breakpoint-m-landscape-up {
        bottom: 16%;
      }

      &::after {
        content: '';
        width: 80%;
        border-top-style: dashed;
        border-top-color: var(--color-accent-lighter);
        top: var(--spacer-md);
        left: calc(var(--spacer-base) * -1);
        opacity: var(--opacity-8);
      }
    }

    &--4 {
      width: 75%;
      bottom: 78%;
      border-top-style: solid;
      border-top-color: var(--color-primary-reverse);
      opacity: var(--opacity-4);

      @include breakpoint-m-landscape-up {
        bottom: 68%;
      }

      &::before {
        content: '';
        width: 75%;
        border-top-style: dashed;
        border-top-color: var(--color-primary-reverse);
        bottom: var(--spacer-base);
        left: calc(var(--spacer-xl) + 10%);
        opacity: var(--opacity-4);
      }

      &::after {
        content: '';
        width: 75%;
        border-top-style: dashed;
        border-top-color: var(--color-accent-lighter);
        top: var(--spacer-md);
        left: var(--spacer-xl);
        opacity: var(--opacity-6);
      }
    }
  }

  &__cityscape,
  &__ground {
    width: min(calc(100% - var(--spacer-md) * 2), 40rem);
    aspect-ratio: var(--triangle-aspect-ratio-lg);
    position: absolute;
    left: 50%;
    overflow-y: clip;
    transform: translateX(-50%);

    @include breakpoint-m-landscape-up {
      width: min(50%, 100vh);
    }
  }

  &__cityscape {
    visibility: hidden;
    bottom: var(--horizon-position);

    &__shape {
      $self: &;

      position: absolute;
      bottom: 0;

      &--back-1 {
        width: 13%;
        height: 100%;
        left: var(--spacer-up-xl-2xl);
        background: linear-gradient(
          to bottom,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-8),
            var(--color-fourth-darker)
          ),
          33%,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-7),
            var(--color-fourth-base)
          ));
        transform-origin: top right;
        transform: skewY(-30deg);

        &::before {
          content: '';
          position: absolute;
          width: calc(var(--spacer-sm) * 2 + var(--spacer-2xs));
          top: var(--spacer-md);
          left: var(--spacer-sm);
          bottom: 0;
          background: repeating-linear-gradient(
            to right,
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-8),
              var(--color-primary-reverse)
            ),
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-8),
              var(--color-primary-reverse)
            ) var(--spacer-2xs),
            transparent var(--spacer-2xs),
            transparent var(--spacer-sm));
          mask-image: linear-gradient(
            to bottom,
            transparent,
            33%,
            black
          );
        }
      }

      &--back-2 {
        width: 10%;
        height: 85%;
        left: 20%;
        background: linear-gradient(
          to bottom,
          transparent,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-6),
            var(--color-primary-reverse),
          ));
      }

      &--back-3 {
        width: 25%;
        height: 25%;
        right: 25%;
        background: linear-gradient(
          to bottom,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-9),
            var(--color-primary-reverse),
          ),
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-7),
            var(--color-primary-reverse),
          ));
      }

      &--back-4 {
        width: 22%;
        height: 62%;
        right: var(--spacer-up-xl-2xl);
        background: linear-gradient(
          to bottom,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-9),
            var(--color-secondary-darker),
          ),
          33%,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-6),
            var(--color-secondary-darker),
          ));
        transform-origin: top right;
        transform: skewY(-30deg);

        &::before {
          content: '';
          position: absolute;
          width: calc(var(--spacer-base) * 2 + var(--spacer-2xs));
          top: var(--spacer-base);
          right: var(--spacer-base);
          bottom: 0;
          background: repeating-linear-gradient(
            to left,
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-6),
              var(--color-tertiary-darker)
            ),
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-6),
              var(--color-tertiary-darker)
            ) var(--spacer-2xs),
            transparent var(--spacer-2xs),
            transparent var(--spacer-base));
          mask-image: linear-gradient(
            to bottom,
            transparent,
            black
          );
          mix-blend-mode: screen;
        }
      }

      &--back-5 {
        width: 6%;
        height: 95%;
        right: 21%;
        background: linear-gradient(
          to bottom,
          transparent,
          67%,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-7),
            var(--color-tertiary-base),
          ));
        transform-origin: top right;
        transform: skewY(-30deg);
      }

      &--back-6 {
        width: 15%;
        height: 95%;
        right: var(--spacer-up-md-lg);
        background: linear-gradient(
          to bottom,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-9),
            var(--color-secondary-lighter),
          ),
          67%,
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-7),
            var(--color-tertiary-base),
          ));
        transform-origin: top left;
        transform: skewY(30deg);
      }

      &--front-1 {
        width: calc(30% - var(--spacer-xl));
        height: 67%;
        container-type: inline-size;
        right: calc(50% + var(--spacer-3xl) * var(--triangle-aspect-ratio-sm) * 0.5 + var(--spacer-sm));
        z-index: var(--z-index-base-increase);

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          box-shadow:
            0
            0
            var(--spacer-xs)
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-3),
              var(--color-fourth-lighter)
            );
          transform-origin: top left;
          transform: skewY(30deg);
          pointer-events: none;
        }
      }

      &--front-2 {
        width: calc(33% - var(--spacer-xl));
        height: 85%;
        container-type: inline-size;
        left: calc(50% - var(--spacer-3xl) * var(--triangle-aspect-ratio-sm) * 0.5 + var(--spacer-sm));
        z-index: var(--z-index-base);

        &::before,
        &::after {
          transform-origin: top right;
          transform: skewY(-30deg);
          pointer-events: none;
        }

        &::before {
          content: '';
          position: absolute;
          width: 110%;
          height: 110%;
          left: calc(-5% - var(--spacer-md));
          top: calc(var(--spacer-md) * -1);
          z-index: var(--z-index-base-decrease);
          background: linear-gradient(
            to bottom,
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-8),
              var(--color-accent-darker)
            ),
            33%,
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-7),
              var(--color-tertiary-lighter)
            ),
          );
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          box-shadow:
            0
            0
            var(--spacer-xs)
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-3),
              var(--color-tertiary-lighter)
            );
        }
      }

      &__name {
        width: max-content;
        padding: var(--spacer-2xs) var(--spacer-sm);
        position: absolute;
        left: calc(var(--spacer-base) * -1);
        bottom: calc(100% + var(--spacer-xs));
        opacity: 0;
        background: no-repeat linear-gradient(
            150deg,
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-5),
              var(--color-secondary-darker)
            ),
            color-mix(
              in srgb,
              transparent var(--opacity-percentage-9),
              var(--color-secondary-darker)
            ) 60%
          ),
          color-mix(
            in srgb,
            transparent var(--opacity-percentage-4),
            var(--color-primary-base)
          );
        transition: opacity .2s cubic-bezier(0.5, 0, 0.75, 0);
        pointer-events: none;

        &::after {
          content: '';
          width: min(25%, var(--spacer-xl));
          height: var(--spacer-2xs);
          position: absolute;
          left: 0;
          top: 100%;
          background-color: var(--color-secondary-base);
        }

        .illustration__cityscape__shape__inner:hover + &,
        .illustration__cityscape__shape__inner:focus + & {
          opacity: 1;
        }

        .illustration__cityscape__shape__inner:focus + & {
          transform: none !important;
        }
      }

      &__inner {
        position: absolute;
        inset: 0;

        &__img {
          position: absolute;
          inset: 0;
          z-index: var(--z-index-base);

          &--hidden {
            opacity: 0;
            z-index: var(--z-index-base-decrease);
          }

          &--next {
            z-index: var(--z-index-base-increase);
            animation: slideIn 1.5s cubic-bezier(0.76, 0, 0.24, 1) backwards;

            #{$self}--front-2 & {
              animation-duration: 1.3s;
              animation-delay: .4s;
            }

            @keyframes slideIn {
              from {
                opacity: .2;
                transform: translateY(-100%);
              }

              80% {
                opacity: 1;
              }

              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }

        #{$self}--front-1 & {
          clip-path: polygon(
            0 0,
            100% calc(100cqi * sin(30deg) / sin(60deg)),
            100% 100%,
            0 100%
          );
        }

        #{$self}--front-2 & {
          clip-path: polygon(
            0 calc(100cqi * sin(30deg) / sin(60deg)),
            100% 0,
            100% 100%,
            0 100%
          );
        }
      }
    }

    &__lights {
      pointer-events: none;
      position: absolute;
      inset: 0;
      z-index: var(--z-index-base-increase);
      background: radial-gradient(
        circle at 30% bottom,
        color-mix(
          in srgb,
          transparent var(--opacity-percentage-6),
          var(--color-fourth-lighter)
        ),
        8%,
        transparent 22%
      ),
      radial-gradient(
        circle at 60% bottom,
        color-mix(
          in srgb,
          transparent var(--opacity-percentage-7),
          var(--color-tertiary-lighter)
        ),
        transparent 33%
      );
      mix-blend-mode: soft-light;
    }

    @media screen and (orientation: landscape) {
      aspect-ratio: 8/5;
    }
  }

  &__ground {
    visibility: hidden;
    top: calc(100% - var(--horizon-position) - var(--spacer-xs));
    transform-origin: top center;

    &::before {
      content: "";
      width: 100%;
      border-top: var(--spacer-2xs) solid var(--color-accent-lighter);
      position: absolute;
      top: calc(var(--spacer-xs) - var(--spacer-2xs) * .5);
      box-shadow: 
        0
        0
        var(--spacer-2xs)
        1px
        color-mix(
          in srgb,
          transparent var(--opacity-percentage-6),
          var(--color-accent-lighter)
        );
    }
    
    &__shape {
      width: calc(100% - var(--spacer-base) * 2);
      aspect-ratio: var(--triangle-aspect-ratio-lg);
      position: absolute;
      left: var(--spacer-base);
      top: var(--spacer-xs);
      background: linear-gradient(
        to bottom,
        color-mix(
          in srgb,
          transparent var(--opacity-percentage-8),
          var(--color-accent-base)
        ),
        33%,
        transparent);
      clip-path: polygon(100% 0, 0 0, 50% 100%);
    }
  }

  &__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--spacer-3xl);
    aspect-ratio: 1;
    position: absolute;
    bottom: calc(var(--horizon-position) - var(--spacer-3xl) * .5);
    left: calc(50% - var(--spacer-3xl) * .5);
    z-index: var(--z-index-base-increase);
    opacity: 0;
    transform-origin: 33% 50%;
    transform: scale(0);
  }

  @include breakpoint-m-landscape-up {
    --horizon-position: 33%;
  }
}